.search-item {
	&__image {
		flex: 0 0 auto;
		width: 80px;
		height: 80px;

		img {
			display: block;
			height: 100%;
			object-fit: cover;
			opacity: 0.9;
			width: 100%;
		}

		&:hover {
			img {
				opacity: 1;
			}
		}
	}

	&__content {
		width: calc(100% - 80px - 1rem);

		.price {
			font-size: 24px;

			a {
				&:hover {
					color: var(--primary) !important;
				}
			}

			.shipping {
				width: 20px;
				top: 3px;

				img {
					display: block;
					object-fit: contain;
					width: 100%;
				}
			}
		}

		.title {
			font-size: 18px;
		}
	}

	&__location {
		margin-left: calc(80px + 1rem);

		.city {
			font-size: 12px;
		}
	}
}

@include media-breakpoint-up(md) {
	.search-item__image {
		width: 180px;
		height: 180px;
	}

	.search-item__content {
		width: auto;

		.title {
			max-width: 400px;
		}
	}

	.search-item__location {
		margin: 0;
	}
}
