@import './includes/variables';

body {
	font-family: 'Proxima Nova', 'Roboto', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	min-height: 100vh;

	.results {
		margin-top: 70px;
	}
}

@import './components/header';
@import './components/search-box';
@import './components/search-item';
