$body-bg: #eee;
$body-color: #333;

$theme-colors: (
	'primary': #3483fa,
	'brand-color': #ffe600,
	'gray': #999999,
	'gray-dark': #666666,
	'gray-light': #eeeeee
);

$spacer: 1rem;
$spacers: (
	025: (
		$spacer * 0.25
	),
	050: (
		$spacer * 0.5
	),
	075: (
		$spacer * 0.75
	),
	100: $spacer,
	125: (
		$spacer * 1.25
	),
	150: (
		$spacer * 1.5
	),
	175: (
		$spacer * 1.75
	),
	200: (
		$spacer * 2
	)
);

$breadcrumb-divider: quote('>');

$enable-sizing-breakpoints: true;

$grid-breakpoints: (
	xs: 0,
	sm: 640px,
	md: 800px,
	lg: 1000px,
	xl: 1480px
);

$container-max-widths: (
	sm: 640px,
	md: 800px,
	lg: 1100px,
	xl: 1300px
);

@import '~bootstrap/scss/bootstrap';
