$body-bg: #eee;
$body-color: #333;

$theme-colors: (
	'primary': #3483fa,
	'brand-color': #ffe600,
	'gray': #999999,
	'gray-dark': #666666
);

$breadcrumb-divider: quote('>');

@import '~bootstrap/scss/bootstrap';
